{% extends 'base.html' %}

{% block head %}
<script src= {{url_for('static', filename='js/movies.js')}}></script>
{% endblock %}

{% block body %}
<div>
<button  style="background-color:rgb(0, 119, 190);" type="submit" onclick="toggle_visibility('add')">new</button>
<a href='/edit'>edit</a>
<br>
<form id='add' action="/movies/add" method='post' style="display:none;">
    <input required="required" type="text" id="movie" name="movie">
    <button style="background-color:rgb(50, 173, 230);" type="submit">add</button>
</form>
{% for movie in movies %}
<p>
    <span> {{movie}} </span>
</p>
{% endfor %}
<details>
<summary>more...</summary>
{% for movie in watched %}
<p>
    <span style="color:rgb(36, 138, 61); text-decoration: line-through;"> {{movie}} </span>
</p>
{% endfor %}
</details>
</div>
{% endblock %}
